<div class="areas-template">
	<br>
	<div class="col-lg-4 registration-block">
        <div class="col-lg-12 register">
          Reserve uma vaga agora!
        </div>  
        <div class="col-lg-12">

          <label class="name-label" for="name">Nome</label>
          <input type="text" class="form-control" id="name" name="name"><br>
          <label class="name-label" for="name">E-mail</label>
          <input type="text" class="form-control" id="name" name="name"><br>
          <label class="name-label" for="name">Login</label>
          <input type="text" class="form-control" id="name" name="name"><br>
          <label class="name-label" for="name">Digite uma senha</label>
          <input type="text" class="form-control" id="name" name="name"><br>
          <label class="name-label" for="name">Repita a senha</label>
          <input type="text" class="form-control" id="name" name="name"><br>
        </div>
      </div>
      <br><br>
	<div class="col-lg-4 registration-block">
        <div class="col-lg-12 well well-small">

          <label class="name-label" for="name">Número do Cartão</label>
          <input type="text" class="form-control" id="name" name="name"><br>
          <label class="name-label" for="name">Nome no cartão</label>
          <input type="text" class="form-control" id="name" name="name"><br>
          <label class="name-label" for="name">Data de validade</label>
          <input type="text" class="form-control" id="name" name="name"><br>
          <label class="name-label" for="name">Cód. de Segurança</label>
          <input type="text" class="form-control" id="name" name="name"><br>
          <button type="submit" class="btn btn-primary" value="Submit">Cadastrar</button>
        </div>
      </div>
	<br>
</div>	