<div class="profile-template col-lg-12">
	<div class="col-lg-5 col-xs-12 col-sm-6 col-md-6 pull-left attorney-profile">
		<span class="attorney-name">Missão</span><br>
		Promover a educação profissional pública dentro de referenciais de excelência, visando ao atendimento das demandas sociais e do mundo do trabalho. Promover a educação profissional pública dentro de referenciais de excelência, visando ao atendimento das demandas sociais e do mundo do trabalho.<br>
		Estimular a busca de interesses comuns nas iniciativas pública e privada para o aprimoramento do conhecimento, da formação profissional e da gestão administrativa de modo a prover a sustentabilidade da instituição;
	</div>
	<div class="col-lg-5 col-xs-12 col-sm-6 col-md-6 pull-left attorney-profile">
		<span class="attorney-name">Visão</span><br>
		•	Atender/Antecipar-se às demandas sociais e do mercado de trabalho;<br>
		•	Obter a satisfação dos públicos que se relacionam com o Centro Paula Souza;<br>
		•	Aperfeiçoar continuamente os processos de planejamento, gestão e as atividades operacionais/administrativas;<br>
		•	Alcançar e manter o grau de excelência diante do mercado em seus processos de ensino e aprendizagem;<br>
		•	Estimular e consolidar parcerias (internas e externas), sinergias e a inovação tecnológica;<br>
		•	Reconfigurar a infraestrutura e intensificar a utilização de recursos tecnológicos;<br>
		•	Promover a adequação, o reconhecimento e o desenvolvimento permanente do capital humano;<br>
		•	Incentivar a transparência e o compartilhamento de informações e conhecimentos;<br>
		•	Assegurar a sustentabilidade financeira da instituição.<br>
	</div>
	<br>
</div>